*{
    box-sizing: border-box;
    
}

body{
    margin:0;

}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background:mediumaquamarine;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}


.logo{
    flex:20%;
    margin-left: 10%;
    /*border: 1px solid red*/
    font-size: 10px;
}

.logo h1{
   color: #180F4A; 
   font-size: 34px;
}


.menu{
  flex:70%;  
  /*border:1px solid black*/
  text-align: right;
  padding: 20px;
}

.menu a{
    color:#180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}


.menu a:hover{
        color:#ff2978;
        border-top: 4px solid white;
}

#botao{
    background:#180F4A;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    border-radius:  5px; 
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    background:#ff2978;
    padding: 10px 25px;
    border:none;
    background:green;
}

.header{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    /*background: greenyellow;*/
    height:600px;

}

.headline{
    margin-left:10%;
    flex:40%;
    /*border:1px solid black;*/
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color:#180F4A;
    padding:0;
    margin:0;
}

.headline p{
    color:gray;
    text-align: left;

}

.contact-btn{
    display: inline-block;
    background: #ff2978;
    padding: 20px;
    color:white ;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover{
background: #180F4A;
}




.img-headline{
    margin-right:10%;
    flex:50%;
    border:1px solid deeppink;
    text-align:center;
  
}

section{
    display:inline-block;
    margin: 80px;
    /*border:1px solid black;*/
    margin-left: 5%;
    margin-right: 5%;
    /*height: 400px;*/
    text-align: center;
    width: 90%;

    
}

section h2{
    width: 100%;
    font-size:50px;
    margin:0;
    font-weight:bold ;
    color:#180F4A;

}

.serviços{
    display:inline-block;
    margin-top: 5%;
   
}

.card{
    display:inline-block;
    width:30%;
    padding: 20px;
    margin:1%;
    border:1px solid #ff2978;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;

}

.card.card:hover{
    background: #ff2978;
    color:white;
    padding: 40px;
    
}

.card:hover img{
    display: none;
}

.card:hover.card-text{
    display:none;
}

.card:hover.texto-oculto{
    display: block;
}

.texto-oculto{
    display:none;

}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#180f4a,#090422,black);
    text-align: center;
    border-top:5px solid #ff2978;
}

.logo-rodape{
    padding: 100px;
    
}

.agencia{
    color:white; 
   font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;   
}

